.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #d21919;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }

  .spacer {
    flex: 1;
  }

  .stock-data-spacer {
    margin-left: 10px;
  }
  
  .navbar {
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    height: 140px;
    display: flex;
    align-items: center;
    background-color: #835656;
    color: white;
    font-weight: 600;
  }