  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #d21919;
    font-weight: 400;
  } 

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }

  .collections-headline {
    flex: 0.5;
    flex-direction: row;
    color: white;
    font-size: 80%;
  }
  .vertical-spacer {
    flex: 0.4;
  }