<div class="container">
    <div class="carouselDiv">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide>
              <div class="slide">
                  <img src="assets/AEOGII Shirt.png">
              </div>
          </ng-template>
          <ng-template carouselSlide>
              <div class="slide">
                  <img src="assets/TNL Clock.png">
              </div>
          </ng-template>
          <ng-template carouselSlide>
              <div class="slide">
                  <img src="assets/Akatsuki Ski Mask.png">
              </div>
          </ng-template>
          <ng-template carouselSlide>
              <div class="slide">
                  <img src="assets/Void TNL Shirt.png">
              </div>
          </ng-template>
        </owl-carousel-o>
    </div> 
</div>
